.game{
    width: 510px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: auto;
    font-weight: bolder;
}
.title{
    background-color: rgb(188, 161, 212);
    padding: 15px;
    margin: 20px;
    font-size: 32px;
}
span{
    color: rgb(82, 12, 148);
}
.box {
    width:160px ;
    height:155px ;
    background:  rgb(188, 161, 212);
    float:left;
    margin: 5px;
    font-size: 100px;
}
.box:hover{
    background-color: blueviolet;
    cursor: pointer;
}
body{
    background-color: blueviolet;
}
